<a href="https://colab.research.google.com/github/disha2101/1Stop_Internship_Codes/blob/main/Data_Analytics_Money_Heist_Dataset_Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Preprocessing data 

1.Importing the libraries

2.Importing the Dataset

3.Handling of Missing Data

4.Handling of Categorical Data

5.Splitting the dataset into training and testing datasets

6.Feature Scaling

In [3]:
import pandas as pd
import numpy as np

In [4]:
disha = pd.read_excel('money-heist-all-seasons.xlsx')

In [5]:
disha

    Season   ...                                            Summary
0         1  ...  The Professor recruits a young female robber a...
1         1  ...  Hostage negotiator Raquel makes initial contac...
2         1  ...  Police grab an image of the face of one of the...
3         1  ...  Raquel is adversely affected by a personal cri...
4         1  ...  A sudden development in the investigation and ...
5         1  ...  The problems inside and outside the National C...
6         1  ...  A new police plan will make Raquel enter the N...
7         1  ...  Despite the setbacks and to keep more than 60 ...
8         1  ...  The professor talks with Raquel's mother on st...
9         2  ...  The police finds the house where The Professor...
10        2  ...  Tokyo is questioned by the police. The Profess...
11        2  ...  The hostages are trying to execute an outbreak...
12        2  ...  Raquel is discovering the identity of The Prof...
13        2  ...  The execution of the plan is in its final stag...
14        2  ...  After confessing a long-held secret, Moscow lo...
15        3  ...  When Rio is captured, a distraught Tokyo turns...
16        3  ...  The Professor recruits Martín to put his broth...
17        3  ...  Tokyo and Nairobi's efforts go drastically awr...
18        3  ...  Tamayo's breaches of protocol surprise the Pro...
19        3  ...  The Professor shocks officials with his latest...
20        3  ...  Just as Inspector Sierra orchestrates a plan t...
21        3  ...  Tokyo's happiness turns bittersweet. Ángel clo...
22        3  ...  Tokyo attempts to drown her sorrows. Sierra us...
23        4  ...  Anger and grief heighten tensions between the ...
24        4  ...  Palermo shocks the group with his actions. Sie...
25        4  ...  The Professor's mole attempts to pass along hi...
26        4  ...  In the past, Berlin predicts that Gandía will ...
27        4  ...  Denver turns to an undercover source for help....
28        4  ...  With Nairobi held hostage, Gandía negotiates w...
29        4  ...  The group reels following the attack on one of...
30        4  ...  The Professor, Benjamin and the others attempt...
31        5  ...  The Professor faces off with Sierra as Tamayo ...
32        5  ...  Arturo seizes an opportunity to fight back whi...
33        5  ...  A betrayal and an emergency both catch Sierra ...
34        5  ...  With Helsinki's life in danger, the thieves mo...
35        5  ...  While surrounded by gunfire and trapped in the...

[36 rows x 8 columns]

In [6]:
disha.describe()

         Season    Episode          Year       IMDB  Watch Time (minutes)
count  36.000000  36.000000    36.000000  36.000000             36.000000
mean    2.833333   4.250000  2018.666667   8.188889             48.222222
std     1.404076   2.322253     1.549193   0.588838              5.361829
min     1.000000   1.000000  2017.000000   7.100000             41.000000
25%     1.750000   2.000000  2017.000000   7.775000             43.000000
50%     3.000000   4.000000  2019.000000   8.300000             47.500000
75%     4.000000   6.000000  2020.000000   8.425000             52.000000
max     5.000000   9.000000  2021.000000   9.500000             61.000000

In [7]:
disha.head()

   Season   ...                                            Summary
0        1  ...  The Professor recruits a young female robber a...
1        1  ...  Hostage negotiator Raquel makes initial contac...
2        1  ...  Police grab an image of the face of one of the...
3        1  ...  Raquel is adversely affected by a personal cri...
4        1  ...  A sudden development in the investigation and ...

[5 rows x 8 columns]

In [8]:
disha.tail()

    Season   ...                                            Summary
31        5  ...  The Professor faces off with Sierra as Tamayo ...
32        5  ...  Arturo seizes an opportunity to fight back whi...
33        5  ...  A betrayal and an emergency both catch Sierra ...
34        5  ...  With Helsinki's life in danger, the thieves mo...
35        5  ...  While surrounded by gunfire and trapped in the...

[5 rows x 8 columns]

In [9]:
disha.fillna(0)

    Season   ...                                            Summary
0         1  ...  The Professor recruits a young female robber a...
1         1  ...  Hostage negotiator Raquel makes initial contac...
2         1  ...  Police grab an image of the face of one of the...
3         1  ...  Raquel is adversely affected by a personal cri...
4         1  ...  A sudden development in the investigation and ...
5         1  ...  The problems inside and outside the National C...
6         1  ...  A new police plan will make Raquel enter the N...
7         1  ...  Despite the setbacks and to keep more than 60 ...
8         1  ...  The professor talks with Raquel's mother on st...
9         2  ...  The police finds the house where The Professor...
10        2  ...  Tokyo is questioned by the police. The Profess...
11        2  ...  The hostages are trying to execute an outbreak...
12        2  ...  Raquel is discovering the identity of The Prof...
13        2  ...  The execution of the plan is in its final stag...
14        2  ...  After confessing a long-held secret, Moscow lo...
15        3  ...  When Rio is captured, a distraught Tokyo turns...
16        3  ...  The Professor recruits Martín to put his broth...
17        3  ...  Tokyo and Nairobi's efforts go drastically awr...
18        3  ...  Tamayo's breaches of protocol surprise the Pro...
19        3  ...  The Professor shocks officials with his latest...
20        3  ...  Just as Inspector Sierra orchestrates a plan t...
21        3  ...  Tokyo's happiness turns bittersweet. Ángel clo...
22        3  ...  Tokyo attempts to drown her sorrows. Sierra us...
23        4  ...  Anger and grief heighten tensions between the ...
24        4  ...  Palermo shocks the group with his actions. Sie...
25        4  ...  The Professor's mole attempts to pass along hi...
26        4  ...  In the past, Berlin predicts that Gandía will ...
27        4  ...  Denver turns to an undercover source for help....
28        4  ...  With Nairobi held hostage, Gandía negotiates w...
29        4  ...  The group reels following the attack on one of...
30        4  ...  The Professor, Benjamin and the others attempt...
31        5  ...  The Professor faces off with Sierra as Tamayo ...
32        5  ...  Arturo seizes an opportunity to fight back whi...
33        5  ...  A betrayal and an emergency both catch Sierra ...
34        5  ...  With Helsinki's life in danger, the thieves mo...
35        5  ...  While surrounded by gunfire and trapped in the...

[36 rows x 8 columns]

In [10]:
disha.isnull().sum()

Season                  0
Episode                 0
Name                    0
On Air                  0
Year                    0
IMDB                    0
Watch Time (minutes)    0
Summary                 0
dtype: int64

LAB -2 

Feature Selection Methods

*  filter 

*  Wrapper

*  embedded

In [11]:
from sklearn.feature_selection import chi2

In [12]:
import seaborn as sns

In [13]:
disha = disha.rename(columns={'Season ': 'Season'})
disha = disha.rename(columns={'On Air': 'On_Air'})
disha = disha.rename(columns={'Watch Time (minutes)':'Watch_Time_'})

In [14]:
pd.crosstab(disha.Watch_Time_,disha.On_Air,margins=True,margins_name="Total")

On_Air       2017-05-02 00:00:00  ...  Total
Watch_Time_                       ...
41                             0  ...      1
42                             0  ...      5
43                             0  ...      5
44                             0  ...      2
46                             0  ...      2
47                             1  ...      3
48                             0  ...      1
49                             0  ...      1
50                             0  ...      4
51                             0  ...      2
52                             0  ...      2
53                             0  ...      1
54                             0  ...      3
55                             0  ...      2
60                             0  ...      1
61                             0  ...      1
Total                          1  ...     36

[17 rows x 23 columns]

In [15]:
pd.crosstab(disha.Season,disha.IMDB,margins=True,margins_name="Total")

IMDB    7.1  7.2  7.3  7.5  7.6  7.7  7.8  ...  8.5  8.6  8.7  8.8  9.4  9.5  Total
Season                                     ...
1         0    0    0    0    0    0    0  ...    0    0    1    0    0    0      9
2         0    0    0    0    0    0    0  ...    1    1    0    3    1    0      6
3         0    0    0    0    0    0    0  ...    1    0    0    0    0    1      8
4         1    2    0    1    1    1    0  ...    0    0    0    0    0    0      8
5         1    0    1    1    0    0    1  ...    0    0    0    0    0    0      5
Total     2    2    1    2    1    1    1  ...    2    1    1    3    1    1     36

[6 rows x 18 columns]

In [16]:
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
disha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Season       36 non-null     int64
 1   Episode      36 non-null     int64
 2   Name         36 non-null     object
 3   On_Air       36 non-null     datetime64[ns]
 4   Year         36 non-null     int64
 5   IMDB         36 non-null     float64
 6   Watch_Time_  36 non-null     int64
 7   Summary      36 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 2.4+ KB

In [18]:
disha.dropna(inplace=True)